.content {
    padding: 20px 50px 50px 50px;
}
nav:not(.mm-menu) {
    display: none;
}
.header,
.content,
.footer {
    text-align: center;
}
.header {
    background: #777;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 50px;
}
.header.mm-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
}
.header a {
    background: center center no-repeat transparent;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 10px;
}
.header a.right {
    left: auto;
    right: 10px;
}
.header.mm-fixed-top + .content {
    background-position: 25px 55px;
}
html.mm-opened.mm-zoom-menu body {
    background: #333;
}
html.mm-opened.mm-zoom-menu.mm-light body {
    background: #f3f3f3;
}
html.mm-opened.mm-zoom-menu.mm-black body {
    background: #000;
}
html.mm-opened.mm-zoom-menu.mm-white body {
    background: #fff;
}
html.mm-opened.mm-zoom-menu .mm-page {
    background-color: #fff;
}